* {
  font-family: Calibri;
}
@media only screen and (min-width: 1201px) {
  .para4 {
    display: none;
  }
  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    text-align: center;
    color: #0a4988;
    font-family: Calibri;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.2em;
  }

  .underline {
    stroke-width: 3px;
    stroke: #0a4988;
    width: 100%;
    max-width: 9.875rem;
    height: 3rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    line-height: 0.5rem;
  }

  .title {
    margin-block-start: 0.37em;
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    margin-top: 2.5rem;
  }

  .sub-title {
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2.0625rem;
    margin-bottom: 4.3125rem;
  }
  .boxone {
    width: 40%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .parent {
    display: flex;
    justify-content: space-between;
  }

  .boxone .subhead {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .para {
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .image {
    aspect-ratio: 37.59375rem/39.07144rem;
    max-width: 30rem;
    height: auto;
  }

  .boxtwo {
    width: 60%;
    margin-left: 3rem;
    margin-right: 5rem;
  }
  .boxtwo .contains {
    position: relative;
    margin-top: 4.25rem; /* Set containing element as the reference for absolute positioning */
  }

  .boxtwo .bbox {
    position: relative;
    aspect-ratio: 43/28.4375;
    max-width: 43rem;

    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxtwo .overlay-image {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    z-index: 1;
  }

  .boxtwo .subhead {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    margin-top: 4.1875rem;
    margin-bottom: 0;
  }

  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .headingwithimg {
    position: relative;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 1.562rem;
    margin-bottom: 0;
  }

  .headingwithimg p {
    font-weight: 700;
    font-size: 2rem;
  }
  .headingwithimg a {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .headingwithimg img {
    margin-top: 0;
    width: 2.375rem;
    height: 2.375rem;
  }

  /* .boxtwo b {
    color: #000;
    font-family: Calibri;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxtwo .linkedin {
    margin-top: 2rem;
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;
  } */

  .boxtwo .quote {
    margin-top: 0;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxtwo .collective {
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxfour {
    margin-right: 3rem;
    width: 50%;
  }

  .boxfour .contains {
    margin-right: 3rem;
    position: relative;
    margin-top: 8rem;
  }

  .boxfour .contains .bbox {
    margin-left: 5rem;
    position: relative;
    max-width: 23.25rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .boxfour .overlay-image {
    position: relative;
    top: -0.5rem;
    right: -1rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    z-index: 1;
  }

  .boxthree {
    width: 50%;
    padding-left: 5rem;
  }

  .boxthree b {
    color: #000;
    font-family: Calibri;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .linkedin {
    margin-top: 3rem;
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;
  }

  .boxthree .quote {
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .collective {
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .containsdown {
    display: none;
  }

  .containsmobile {
    display: none;
  }

  .containsmobileman {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .para4 {
    display: hidden;
  }
  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    text-align: center;
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .underline {
    stroke-width: 3px;
    stroke: #0a4988;
    width: 9.875rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    margin-top: 1.6875rem;
  }

  .sub-title {
    color: #000;
    font-family: Calibri;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    text-align: center;
    margin-top: 1.5625rem;
    margin-bottom: 6.875rem;
  }

  .boxone {
    position: relative;
    margin-left: 5.5rem;
    margin-right: 5.5rem;

    width: 100%;
  }
  .boxtwo {
    margin-top: 10%;
    margin-left: 5.5rem;

    margin-right: 5.5rem;
    width: 100%;
  }
  .boxone .subhead {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    width: 80%;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .para {
    width: 40%;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    shape-outside: url(../images/maze.png);
  }

  .boxone img {
    left: 45%;
    aspect-ratio: 25.875/26.92356;
    max-width: 20rem;
    top: 50%;
    position: absolute;
  }
  .boxtwo .collective1 {
    flex-shrink: 0;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .collective2 {
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .para {
    width: 70%;
  }
  .boxtwo .para2 {
    width: 40%;
    shape-outside: url(../images/lady.png);
  }

  .boxtwo .subhead {
    padding-right: 5.5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0a4988;
    text-align: left;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .quote {
    margin-top: 0;
    width: 44.8125rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    width: 80%;
    line-height: normal;
  }

  .headingwithimg {
    display: flex;
    align-items: center;
    gap: 1.375rem;
    margin-bottom: 0;
  }

  .headingwithimg p {
    font-weight: 700;
    font-size: 1.625rem;
    margin-bottom: 0;
  }
  .headingwithimg a {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1.625rem;
  }

  .headingwithimg img {
    width: 1.6875rem;
    height: 1.6875rem;
  }
  /* .boxtwo b {
    color: #000;
    font-family: Calibri;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .linkedin {
    width: 1.6875rem;
    height: 1.6875rem;
    flex-shrink: 0;
  } */
  .contains {
    display: none;
  }
  .boxtwo .containsdown {
    margin-left: 4%;
    display: inline;
    left: 40%;
    bottom: 10%;
    position: relative;
    width: 100%;
  }
  .boxtwo .containsdown .bbox {
    position: absolute;
    left: 80%;
    z-index: -10;
    aspect-ratio: 25.20556/ 17.33556;
    min-width: 20rem;
    flex-shrink: 0;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
  }

  .boxtwo .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .boxthree {
    margin-left: 5.5rem;

    margin-right: 5.5rem;
    padding-top: 2rem;
  }

  /* .boxthree b {
    color: #000;
    font-family: Calibri;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .linkedin {
    width: 1.6875rem;
    height: 1.6875rem;
    flex-shrink: 0;
  } */

  .boxthree {
    width: 100%;
  }
  .boxthree .quote {
    margin-top: 0;
    width: 80%;
    color: #777;
    font-family: Calibri;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxthree .collective1 {
    width: 70%;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxthree .collective2 {
    width: 50%;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxthree .containsdown {
    line-height: 0;
    display: inline;
    left: 77.5%;
    position: relative;
    width: 100%;
  }
  .boxthree .containsdown .bbox {
    aspect-ratio: 17.1875/23.8125;
    position: absolute;
    left: 60%;
    top: 50%;
    z-index: -10;
    min-width: 15rem;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxthree .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .boxfour {
    padding-top: 3%;

    width: 40%;
  }

  .containsmobile {
    display: none;
  }
  .containsmobileman {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .name {
    color: black;
    font-size: 25px;
    margin-bottom: 50%;
  }
  .contains {
    display: none;
  }

  .boxthree {
    width: 100%;
  }
  .boxfour {
    padding-top: 3%;

    width: 40%;
  }

  .boxfour contains {
    position: relative;
  }
  .boxfour bbox {
    position: absolute;
    top: 2%;
    z-index: -10;
    height: 80%;
    width: 20%;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .boxfour .contains img {
    position: absolute;
    left: 10%;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .containsmobile {
    align-items: center;
    position: relative;
    height: 180px;
  }
  .containsdown {
    display: none;
  }

  .boxthree .para2 {
    width: 50%;
  }
  .containsmobileman {
    margin-left: 20%;
    height: 250px;
  }

  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    text-align: center;
    margin: 1rem;
  }

  .underline {
    stroke-width: 2px;
    stroke: #0a4988;
    width: 5.5rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    line-height: 0.5rem;
  }

  .title {
    color: #000;
    text-align: center;
    font-family: Calibri;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .sub-title {
    color: #000;
    text-align: center;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    margin-bottom: 3rem;
  }

  .boxone {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;

    width: 100%;
  }
  .boxtwo {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }
  .boxone .subhead {
    width: 100%;
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    width: 90%;
    color: #777;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .para {
    width: 90%;
    color: #000;
    font-family: Calibri;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxone img {
    display: none;
    top: 50%;
    position: absolute;
    width: 25.875rem;
    left: 40%;
  }
  .boxtwo .collective1 {
    width: 90%;

    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .collective2 {
    width: 90%;

    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxtwo .subhead {
    padding-right: 0.5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0a4988;
    text-align: left;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .quote {
    width: 90%;
    color: #777;
    font-family: Calibri;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  /* .boxtwo b {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .linkedin {
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
  } */
  .headingwithimg {
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .headingwithimg p {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .headingwithimg a {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1.125rem;
  }

  .headingwithimg img {
    width: 1.125rem;
    height: 1.125rem;
  }
  .contains .containsdown {
    display: none;
  }
  .containsmobile img {
    position: absolute;
  }

  .containsmobileman .bbox {
    margin-top: 31%;
    position: absolute;
    height: 255px;
    width: 180px;
    margin-left: 29%;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .boxtwo .containsmobile {
    line-height: 0;
    display: inline;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .boxtwo .containsmobile .bbox {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    z-index: -10;
    aspect-ratio: 14.85188/9.90606;
    min-width: 14.85188rem;
    max-width: 18rem;
    flex-shrink: 0;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
  }

  .boxtwo .containsmobile img {
    bottom: 0.5rem;
    left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .containsmobileman img {
    margin-top: 30%;
    margin-left: 30%;
    position: absolute;
    max-width: 100%;
    z-index: 5;
    height: 250px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .boxthree {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }
  .boxthree .quote {
    width: 90%;
    color: #777;
    font-family: Calibri;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxthree .collective1 {
    width: 90%;

    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .para3 {
    display: none;
  }

  .boxthree .collective2 {
    width: 100%;
    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxthree .containsdown {
    line-height: 0;
    display: inline;
    left: 60%;
    position: relative;
    width: 100%;
  }
  .boxthree .containsdown .bbox {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: -10;
    aspect-ratio: 7.8125/10.875;
    min-width: 8.5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxthree .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .containsmobile {
    display: none;
  }
  .containsmobileman {
    display: none;
  }
}
