@media only screen and (min-width: 1025px) {
  .para4 {
    display: none;
  }
  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    text-align: center;
    color: #0a4988;
    font-family: Calibri;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.2em;
  }

  .underline {
    stroke-width: 3px;
    stroke: #0a4988;
    width: 100%;
    max-width: 9.875rem;
    height: 3rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    line-height: 0.5rem;
  }

  .title {
    margin-block-start: 0.37em;
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .sub-title {
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .parent {
    display: flex;
    justify-content: space-between;
  }

  .boxone .subhead {
    padding-left: 3rem;
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    padding-left: 3rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 36.875rem;
  }

  .boxone .para {
    padding-left: 3rem;
    max-width: 36.875rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .image {
    padding-right: 3rem;
    max-width: 37.59375rem;
    height: auto;
    flex-shrink: 0;
    width: 100%;
  }

  .boxtwo {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .boxtwo .contains {
    position: relative;
    margin-top: 4.25rem; /* Set containing element as the reference for absolute positioning */
  }

  .boxtwo .bbox {
    position: relative; /* Ensure relative positioning for containing element */
    max-width: 43rem;
    height: 28.4375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxtwo .overlay-image {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    z-index: 1;
  }

  .boxtwo .subhead {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 54.375rem;
    height: 4.5625rem;
    flex-shrink: 0;
  }

  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.375rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .boxtwo b {
    color: #000;
    font-family: Calibri;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxtwo .linkedin {
    margin-top: 2rem;
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;
  }

  .boxtwo .quote {
    max-width: 55.125rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxtwo .collective {
    max-width: 45.125rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxfour {
    padding-right: 3rem;
  }

  .boxfour .contains {
    position: relative;
    margin-top: 8rem;
  }

  .boxfour .contains .bbox {
    position: relative;
    max-width: 23.25rem;
    height: 32.3125rem;
    right: 4rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .boxfour .overlay-image {
    position: relative;
    top: -0.5rem;
    right: -1rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    z-index: 1;
  }

  .boxthree {
    padding-left: 3rem;
  }

  .boxthree b {
    color: #000;
    font-family: Calibri;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .linkedin {
    margin-top: 3rem;
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;
  }

  .boxthree .quote {
    max-width: 44.8125rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .collective {
    max-width: 45.125rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .containsdown {
    display: none;
  }

  .containsmobile {
    display: none;
  }

  .containsmobileman {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .para4 {
    display: hidden;
  }
  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    text-align: center;
    color: #0a4988;
    font-family: Calibri;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .underline {
    stroke-width: 3px;
    stroke: #0a4988;
    width: 9.875rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    line-height: 0.5rem;
  }

  .title {
    text-align: center;
    color: #000;
    font-family: Calibri;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .sub-title {
    color: #000;
    font-family: Calibri;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    text-align: center;
  }

  .boxone {
    position: relative;
    padding-left: 3rem;

    width: 100%;
  }
  .boxtwo {
    padding-top: 7rem;
    padding-left: 3rem;
    width: 100%;
  }
  .boxone .subhead {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    width: 36.875rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .para {
    width: 40%;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxone img {
    top: 50%;
    position: absolute;
    width: 25.875rem;
    left: 40%;
  }
  .boxtwo .collective1 {
    flex-shrink: 0;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .collective2 {
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .para {
    width: 70%;
  }
  .boxtwo .para2 {
    width: 40%;
  }
  .boxtwo .subhead {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0a4988;
    text-align: left;
    font-family: Calibri;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .quote {
    width: 44.8125rem;
    color: #777;
    font-family: Calibri;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo b {
    color: #000;
    font-family: Calibri;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .linkedin {
    width: 1.6875rem;
    height: 1.6875rem;
    flex-shrink: 0;
  }
  .contains {
    display: none;
  }
  .boxtwo .containsdown {
    line-height: 0;
    display: inline;
    left: 40%;
    position: relative;
    width: 100%;
  }
  .boxtwo .containsdown .bbox {
    position: absolute;
    left: 80%;
    top: 50%;
    z-index: -10;
    width: 25.20556rem;
    height: 17.33556rem;
    flex-shrink: 0;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
  }

  .boxtwo .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .boxthree {
    padding-top: 2rem;
  }

  .boxthree b {
    color: #000;
    font-family: Calibri;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .linkedin {
    width: 1.6875rem;
    height: 1.6875rem;
    flex-shrink: 0;
  }

  .boxthree {
    padding-left: 3rem;

    width: 100%;
  }
  .boxthree .quote {
    width: 80%;
    color: #777;
    font-family: Calibri;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxthree .collective1 {
    width: 70%;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxthree .collective2 {
    width: 50%;
    color: #000;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxthree .containsdown {
    line-height: 0;
    display: inline;
    left: 80%;
    position: relative;
    width: 100%;
  }
  .boxthree .containsdown .bbox {
    position: absolute;
    left: 80%;
    top: 50%;
    z-index: -10;
    width: 17.1875rem;
    height: 23.8125rem;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxthree .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .boxfour {
    padding-top: 3%;

    width: 40%;
  }

  .containsmobile {
    display: none;
  }
  .containsmobileman {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .name {
    color: black;
    font-size: 25px;
    margin-bottom: 50%;
  }
  .contains {
    display: none;
  }
  .containsmobile .bbox {
    position: absolute;
    height: 165px;
    width: 200px;
    margin-left: 22%;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .containsmobile img {
    margin-bottom: 40%;
    position: absolute;
    max-width: 100%;
    z-index: 5;
    height: 160px;
    left: 25%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .containsmobileman .bbox {
    margin-top: 31%;
    position: absolute;
    height: 255px;
    width: 180px;
    margin-left: 29%;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .containsmobileman img {
    margin-top: 30%;
    margin-left: 30%;
    position: absolute;
    max-width: 100%;
    z-index: 5;
    height: 250px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  b {
    font-size: 20px;
  }
  .boxthree {
    padding-left: 3%;

    width: 100%;
  }
  .boxfour {
    padding-top: 3%;

    width: 40%;
  }

  .boxfour contains {
    position: relative;
  }
  .boxfour bbox {
    position: absolute;
    top: 2%;
    z-index: -10;
    height: 80%;
    width: 20%;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .boxfour .contains img {
    position: absolute;
    left: 10%;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .containsmobile {
    align-items: center;
    position: relative;
    height: 180px;
  }
  .containsdown {
    display: none;
  }

  .boxthree .para2 {
    width: 50%;
  }
  .containsmobileman {
    margin-left: 20%;
    height: 250px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  body {
    font-size: 16px;
    background: #f4eedb;
    overflow-x: hidden;
  }

  .heading {
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
    text-align: center;
  }

  .underline {
    stroke-width: 2px;
    stroke: #0a4988;
    width: 5.5rem;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    line-height: 0.5rem;
  }

  .title {
    color: #000;
    text-align: center;
    font-family: Calibri;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .sub-title {
    color: #000;
    text-align: center;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.5rem;
  }

  .boxone {
    position: relative;

    width: 100%;
  }
  .boxtwo {
    width: 100%;
  }
  .boxone .subhead {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .quote {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #777;
    font-family: Calibri;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxone .para {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxone img {
    display: none;
    top: 50%;
    position: absolute;
    width: 25.875rem;
    left: 40%;
  }
  .boxtwo .collective1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxtwo .collective2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxtwo .subhead {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0a4988;
    text-align: left;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .subhead i {
    color: #0a4988;
    font-family: Calibri;
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .quote {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #777;
    font-family: Calibri;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo b {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxtwo .linkedin {
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
  }
  .contains .containsdown {
    display: none;
  }
  .boxtwo .containsmobile {
    line-height: 0;
    display: inline;
    left: 12.5%;
    position: relative;
    width: 100%;
  }
  .boxtwo .containsmobile .bbox {
    position: absolute;
    z-index: -10;
    width: 14.85188rem;
    height: 9.90606rem;
    flex-shrink: 0;
    background: #0a4988;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
  }

  .boxtwo .containsmobile img {
    top: -0.5rem;
    margin-left: -3rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.05rem);
    height: calc(100% - 0.05rem);
  }

  .boxthree {
    padding-top: 12rem;
  }

  .boxthree b {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .boxthree .linkedin {
    width: 1.125rem;
    height: 1.125rem;
    flex-shrink: 0;
  }

  .boxthree {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    width: 100%;
  }
  .boxthree .quote {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #777;
    font-family: Calibri;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .boxthree .collective1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .para3 {
    display: none;
  }

  .boxthree .collective2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000;
    font-family: Calibri;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .boxthree .containsdown {
    line-height: 0;
    display: inline;
    left: 60%;
    position: relative;
    width: 100%;
  }
  .boxthree .containsdown .bbox {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: -10;
    width: 7.8125rem;
    height: 10.875rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .boxthree .containsdown img {
    top: -0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
  }

  .containsmobile {
    display: none;
  }
  .containsmobileman {
    display: none;
  }
}
